html {
  box-sizing: initial;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-size: clamp(22px, 2vw, 30px);
}

h4 {
  font-weight: 500;
}

.black {
  color: black !important;
}

.lightgray-text {
  color: #f2f2f2 !important;
}

.darkgray-text {
  color: #aaaaaa !important;
}

.red-text {
  color: #e1251b !important;
}

.white-text {
  color: white !important;
}

.disabled {
  color: #e0e0e0;
}

.lightgray-bg {
  background-color: #f2f2f2 !important;
}

.red-bg {
  background-color: #ce0000 !important;
}

.red-button {
  width: 90%;
  max-width: 350px;
  margin: 1rem auto;
  padding: 0.375rem 0;
  color: white;
  font-weight: 500;
  background-color: #ce0000;
  border: none;
  border-radius: 1rem;
}

.control-button {
  width: 24px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #e1251b;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 24px);
  background-color: transparent;
  border: 2px solid #e1251b;
  border-radius: 50%;
}

.divider {
  width: 90%;
  max-width: 770px;
  height: 1px;
  margin: auto;
  display: block;
  background-color: black;
}

.divider-small {
  width: 90%;
  max-width: 300px;
  height: 1px;
  margin: auto;
  display: block;
  background-color: #aaaaaa;
}

@media screen and (min-width: 48em) {
  .divider-small {
    margin: auto 0 auto 3rem;
  }
}

.hide {
  display: none;
}

.active:hover {
  cursor: pointer;
  border: 4px solid #e1251b !important;
  transition: all 150ms ease-in-out;
}

.register-section {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bg-1920px.jpg");
  background-size: cover;
  background-repeat: repeat;
}

.register-section .form-container {
  width: 100%;
  padding: 2rem 0;
}

.register-section .form-container .register-form {
  width: 80%;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 64em) {
  .register-section .form-container .register-form {
    padding: 5rem;
  }
}

.register-section .form-container .register-form .logo {
  width: 50%;
  padding: 0.75rem 0;
}

.register-section .form-container .register-form h2,
.register-section .form-container .register-form h3 {
  margin: 2rem 0;
}

.register-section .form-container .register-form h3 {
  margin: 2rem 0;
  color: #e1251b;
  font-weight: 700;
  font-size: 22px;
}

@media screen and (min-width: 64em) {
  .register-section .form-container .register-form .input-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .register-section .form-container .register-form .input-wrapper div {
    width: 45%;
  }
}

.register-section .form-container .register-form div label {
  font-weight: 500;
}

.register-section .form-container .register-form div .my-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.register-section .form-container .register-form div .my-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ce0000;
  outline: 0;
}

.inicio-section .alert-msg {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inicio-section .alert-msg h5 {
  font-weight: 700;
}

@media screen and (min-width: 64em) {
  .inicio-section .alert-msg {
    padding: 1rem 0;
    flex-flow: row wrap;
    gap: 5rem;
  }
}

.inicio-section .saldo {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  font-size: clamp(18px, 2vw, 24px);
}

.inicio-section .saldo .right {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.inicio-section .saldo .right a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 64em) {
  .inicio-section .saldo {
    flex-flow: row wrap;
  }
  .inicio-section .saldo .left,
  .inicio-section .saldo .right {
    width: calc(50% - 3rem);
    gap: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}

.inicio-section .documentos {
  padding-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  font-size: "30em";
}

@media screen and (min-width: 64em) {
  .inicio-section .documentos {
    font-size: clamp(18px, 2vw, 24px);
  }
}

.inicio-section .documentos .documentos-container {
  width: 100%;
  max-width: 1000px;
}

.inicio-section .documentos .documentos-container p {
  text-align: center;
}

.inicio-section .documentos .documentos-container .docs-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.inicio-section .documentos .documentos-container .docs-wrapper .singledoc {
  width: calc(100% / 3 - 1rem);
  max-width: 250px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
  font-weight: 700;
}

.inicio-section .documentos .documentos-container .docs-wrapper .singledoc figure img {
  width: 100%;
  border: 2px solid #e0e0e0;
  border-radius: 1rem;
}

nav {
  padding: 1rem 0;
}

@media screen and (min-width: 64em) {
  nav {
    padding: 2rem 5rem;
  }
}

nav .container-fluid .logo {
  width: 40%;
  max-width: 250px;
}

nav .container-fluid .user {
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
  font-size: clamp(14px, 2vw, 18px);
}

nav .container-fluid .user img {
  width: 24px;
  height: 24px;
}

nav .container-fluid .user p {
  color: #ce0000;
  margin: 0;
  padding: 0;
}

nav .container-fluid button {
  border: none !important;
  box-shadow: none !important;
}

nav .container-fluid button span {
  display: block;
  width: 20px;
  height: 2.5px;
  background-color: black;
  border-radius: 3px;
}

nav .container-fluid button span:not(:last-child) {
  margin-bottom: 4px;
}

nav .profile-div {
  color: white;
  padding: 1rem 2rem;
}

nav .single-field {
  padding: 0.5rem 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2.5rem;
  font-size: clamp(14px, 2vw, 18px);
  text-decoration: none;
  color: #646a79;
}

nav .single-field img {
  width: 24px;
  height: 24px;
}

nav .single-field p {
  margin: auto 0;
  font-weight: 500;
}

.compra-section {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.compra-section form {
  width: 90%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 64em) {
  .compra-section form {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.compra-section form .compra-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.compra-section form .compra-wrapper .cantidad-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 2rem 1rem;
  font-size: clamp(18px, 2vw, 24px);
}

.compra-section form .compra-wrapper .cantidad-wrapper .amount {
  display: block;
  width: 50px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid black;
  border-radius: 1rem;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.compra-section form .compra-wrapper .cantidad-wrapper .amount:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ce0000;
  outline: 0;
}

.compra-section form .compra-wrapper .total-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 64em) {
  .compra-section form .divider {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */