.compra-section {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
  form {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $large) {
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
    }

    .compra-wrapper {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      .cantidad-wrapper {
        padding: 2rem 0;
        p {
          font-size: $fontSmall;
        }
        .amount {
          display: block;
          width: 50px;
          padding: 0.375rem 1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          background-color: #fff;
          background-clip: padding-box;
          border: 2px solid black;
          border-radius: 1rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
          &:focus {
            color: #212529;
            background-color: #fff;
            border-color: $redButton;
            outline: 0;
          }
        }
      }
      .total-wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        font-weight: 700;
      }
    }
    .divider {
      @media screen and (min-width: $large) {
        display: none;
      }
    }
  }
}
