.documento-2-section {
  form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
      label {
        width: 100%;
      }
    }
  }
}
