.inicio-section {
  .alert-msg {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    h5 {
      font-weight: 700;
    }
    @media screen and (min-width: $large) {
      padding: 1rem 0;
      flex-flow: row wrap;
      gap: 5rem;
    }
  }
  .saldo {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    font-size: $fontMedium;

    .left {
      h3 {
        @media screen and (min-width: $large) {
          font-size: $fontLarge;
        }
      }
    }

    .right {
      display: flex;
      flex-flow: column;
      justify-content: center;

      a {
        color: white;
      }
    }
    @media screen and (min-width: $large) {
      flex-flow: row wrap;
      .left,
      .right {
        width: calc(50% - 3rem);
        gap: 2rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding: 1rem;
      }
    }
  }
  .documentos {
    padding-top: 2rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2rem;
    font-size: $small;
    @media screen and (min-width: $large) {
      font-size: $fontMedium;
    }

    h4 {
      @media screen and (min-width: $tablet) {
        font-size: $fontLarge;
      }
      @media screen and (min-width: $large) {
        font-size: $fontXL;
      }
    }

    .documentos-container {
      width: 100%;
      max-width: 1000px;

      p {
        text-align: center;
        margin-bottom: 2rem;
      }

      .docs-wrapper {
        width: 90%;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .singledoc {
          width: calc(100% / 3 - 1rem);
          max-width: 250px;
          display: flex;
          flex-flow: column wrap;
          align-content: center;
          text-align: center;
          font-weight: 700;

          figure {
            width: 100%;
            img {
              border: 2px solid $disabled;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}
