nav {
  padding: 1rem 0;
  @media screen and (min-width: $large) {
    padding: 2rem 5rem;
  }
  .container-fluid {
    .logo {
      width: 40%;
      max-width: 250px;
    }
    .user {
      margin-left: auto;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 5px;
      font-size: $fontSmall;

      img {
        width: 24px;
        height: 24px;
      }
      p {
        color: $redButton;
        margin: 0;
        padding: 0;
      }
    }
    button {
      border: none !important;
      box-shadow: none !important;
      span {
        display: block;
        width: 20px;
        height: 2.5px;
        background-color: black;
        border-radius: 3px;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
  .profile-div {
    color: white;
    padding: 1rem 3rem;
    font-size: $fontMedium;
    font-weight: 700;
  }
  .menu-container {
    max-width: 400px;
    margin-left: auto;
    display: flex;
    flex-flow: column;
    color: $darkerGray;
    font-size: $fontMedium;

    ul {
      li {
        h6 {
          margin: 1rem 2rem;
          font-weight: 700;
        }
      }
    }
    .logo {
      margin: 5rem 0 3rem 0;
      place-self: center;
    }
  }
  .single-field {
    padding: 0.5rem 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2.5rem;
    font-size: $fontSmall;
    text-decoration: none;
    color: $darkerGray;

    img {
      width: 24px;
      height: 24px;
    }
    p {
      margin: auto 0;
      font-weight: 500;
    }
  }
}
