.progress-wrapper {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2rem 0;
  .progress-step {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    p {
      font-size: 8px;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background-color: $darkGray;
      color: white;
      font-weight: 400;
      font-size: 12px;
      border-radius: 50%;
    }
  }
}
