//FONT COLORS
.black {
  color: black !important;
}
.lightgray-text {
  color: $lightGray !important;
}
.darkgray-text {
  color: $darkGray !important;
}
.red-text {
  color: $redFont !important;
}
.white-text {
  color: white !important;
}
.disabled {
  color: $disabled;
}
//BG COLORS
.lightgray-bg {
  background-color: $lightGray !important;
}
.red-bg {
  background-color: $redButton !important;
}

.red-button {
  width: 90%;
  max-width: 350px;
  margin: 1rem auto;
  padding: 0.375rem 0;
  color: white;
  font-weight: 500;
  background-color: $redButton;
  border: none;
  border-radius: 1rem;
}

.divider {
  width: 90%;
  max-width: 770px;
  height: 1px;
  margin: auto;
  display: block;
  background-color: black;
}
