//Brand
$logo: url("../assets/logo/contratos.png");
//BG Images
$register-bg: url("../assets/images/bg-1920px.jpg");

//Colors
$redFont: #e1251b;
$redButton: #ce0000;
$lightGray: #f2f2f2;
$disabled: #e0e0e0;

//Breakpoints:
$small: "30em";
$medium: "40em";
$tablet: "48em";
$large: "64em";
$xlarge: "90em";
$xxlarge: "120em";

//Font sizes
$fontSmall: clamp(14px, 2vw, 18px);
$fontMedium: clamp(18px, 2vw, 24px);
$fontLarge: clamp(22px, 2vw, 30px);
