//Brand
$logo: url("../assets/logo/contratos.png");
//BG Images
$register-bg: url("../assets/images/bg-1920px.jpg");

//Colors
$redFont: #e1251b;
$redButton: #ce0000;
$lightGray: #79797c;

//Breakpoints:
$small: "30em";
$medium: "40em";
$tablet: "48em";
$large: "64em";
$xlarge: "90em";
$xxlarge: "120em";
